config LEDS_AW22XXX
	tristate "LED Support for AW22XXX"
	depends on LEDS_CLASS && I2C
	help
	  this option enables support for the AW22XXX LED connected
	  through I2C. Say Y to enable support for the AW22XXX LED
	  light automatically.
